$text-size: 16px
$text-height: 24px


body
	font-family: Neucha
	padding: 0px
	margin: 0px
	color: #2A2626
a
	text-decoration: none
	
.container
	width: 1100px
	margin-right: auto
	margin-left: auto
	
.title-orange
	color: #FE8A02
	

.header-img
	z-index: -1
	right: 270px
	top: 55px
	height: 525px

.title
	font-size: 72px
	line-height: 86px
	display: inline-block
	

.text
	color: #2A2626
	font-size: $text-size
	line-height: $text-height

.subtitle
	font-size: 52px

.more
	background: #FE8A02
	display: inline-block
	width:  148px
	height: 49px
	text-transform: uppercase
	color: #FFFFFF
	grid-area: more
	align-items: center
	justify-content: center

.header-part
	background: url(../imgs/bg.png)
	background-repeat: norepeat
	background-position: center

.what-is-part
	flex-direction: column
	align-items: center

.video-part
	background: #42413C

.video
	top: 100px

.video-text
	margin-bottom: -70px

.list-part
	background: #42413C

.shaper
	padding-left: 24px /* отодвигает содержимое от края */
	
.list-part-item
	background: #F5F4F0

.item-number
	font-size: 64px
	line-height: 70px
	color: #42413C

.distorsions-list
	padding-top: 200px
	grid-template-columns: repeat(3, 1fr)
	grid-template-rows: repeat(2, 1fr)
	gap: 30px



.grid
	display: grid

.flex
	display: flex

.relative
	position: relative

.nowrap
	flex-wrap: nowrap

.main-grid
	grid-template-areas: "text text" ". more"
	gap: 30px